.page__list-tests {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.page__filter {
    width: 300px;
}

.list-cart {
    width: 100%;
    height: 100%;
    /* background-color: rgb(203, 247, 255); */
    border: solid 3px var(--light-indigo);
    border-radius: 1em;
    padding: .5em;
}

.lis-cart__title{
    font-weight: 600;
    margin-bottom: .7em;
}

.list-cart__item {
    display: flex;
    justify-content: space-between;
}

.list-cart__item__left {
    text-align: left;
    font-size: .9rem;
    margin-right: 1em;
}

.list-cart__item__right {
    text-align: right;
}

.list-cart__button {
    font-size: .9rem;
    font-family: var(--Open-sans);
    font-weight: 600;
    color: #ffffff;
    letter-spacing: .01em;
    margin: 1.5em auto;
    margin-bottom: 0;
    max-width: 12.5em;
    height: 2.8em;
    width: 90%;
    background-color: #396090c9;
    border: solid 1px #41414121;
    border-radius: .2em;
}

.list-cart__button:hover {
    /* box-shadow: 0px 0px 10px 3px #3a506325 */
    background: var(--color-button);
}

.js-open-modal{
    color: var(--color-button);
    font-size: .9rem;
}

.js-open-modal:hover{
    text-decoration: underline;
}

/* Стили для подложки */

.overlay {
    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

/* Стили для модальных окон */

.modal {
    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;
    /*  Установаем ширину окна  */
    width: 90%;
    max-width: 900px;
    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    /* Должен быть выше чем у подложки*/
    /*  Побочные стили   */
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */

.modal.active, .overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}